build*
deploy/*.sh
include/
nbproject/
dcprogs/
.*.swp
.*.swo
*.pyc
wiki
*.*~
.travis/dcprogsDeploykey
documentation/source/notebooks/*.rst
documentation/source/notebooks/*.ipynb
documentation/source/notebooks/*/