sudo: required
dist: trusty

language: python

addons:
  apt:
    packages:
        - swig
        - libatlas-dev
        - libatlas-base-dev
        - liblapack-dev
        - gfortran
        - libgmp-dev
        - libmpfr-dev
        - ccache
        - libfreetype6-dev
        - libpng-dev
        - zlib1g-dev
        - texlive-fonts-recommended
        - doxygen
        - mscgen
        - texlive-latex-base
        - texlive-latex-extra
        - texlive-fonts-recommended
        - texlive-latex-recommended
        - texlive-font-utils

env:
  global:
    - DOLONGDOUBLE="-DDCPROGS_LONG_DOUBLE=OFF"
matrix:
  include:
    - python: 2.7
    - python: 3.5
    - python: 3.5
      env: DOLONGDOUBLE="-DDCPROGS_LONG_DOUBLE=ON"



install:
    - |
        pip install --upgrade pip
        pip install --upgrade wheel
        pip install --upgrade setuptools
        pip install numpy
        pip install scipy
        pip install behave
        pip install sphinx sphinxcontrib-bibtex Breathe


script:
  - |
        mkdir build
        cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=/home/travis/virtualenv/python${TRAVIS_PYTHON_VERSION}/ ${DOLONGDOUBLE}
        make
        ctest --output-on-failure
        make install
        export LD_LIBRARY_PATH=/home/travis/virtualenv/python${TRAVIS_PYTHON_VERSION}/lib:$LD_LIBRARY_PATH
        make documentation


after_success:
  - |
        if [[ $TRAVIS_PULL_REQUEST == false && $TRAVIS_REPO_SLUG == 'DCPROGS/HJCFIT' && $TRAVIS_BRANCH == 'develop' && $TRAVIS_PYTHON_VERSION == '3.5' ]]; then
            echo "Uploading documentation"
            pwd
            cd ..
            openssl aes-256-cbc -K $encrypted_ca9944a40522_key -iv $encrypted_ca9944a40522_iv -in .travis/DCPROGSDeployKey.enc -out .travis/DCPROGSDeployKey -d
            eval `ssh-agent -s`
            chmod 600 .travis/DCPROGSDeployKey
            ssh-add .travis/DCPROGSDeployKey
            cd ..
            pwd
            git clone git@github.com:DCPROGS/HJCFITdevdocs.git
            ls -la
            cd HJCFITdevdocs
            git checkout gh-pages
            git reset --hard first_commit
            cp -R ../HJCFIT/build/documentation/sphinx/. .
            touch .nojekyll
            ls -la
            git config --global user.email "DCPROGSTravisBot@nomail"
            git config --global user.name "DCPROGSTravisBot"
            git config --global push.default simple
            git add .
            git commit -m "Docs build of $TRAVIS_COMMIT"
            git status
            git push --set-upstream origin gh-pages --force
        else
            echo "Will only deploy docs build from development branch"
        fi
